<!DOCTYPE html>
<html>

  <head>
    <title>{{ page.title }}</title>
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//code.jquery.com">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/animate.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Scope+One|Indie+Flower|Share+Tech+Mono">
    <link rel="icon" type="image/x-icon" href="/res/favicon.ico"/>
  </head>

  <body>

    <nav class="animated bounceInDown">
      <ul>
        <li>
          <a href="/">home</a>
        </li>
        <li>
          <a href="/me">me</a>
        </li>
        <li>
          <a href="/blog">blog</a>
        </li>
      </ul>
    </nav>

    <div>
      {{ content }}
    </div>

    <footer class="animated bounceInUp">
      <ul>
        <li>
          <a href="mailto:rishikhaneja@gmail.com">email</a>
        </li>
        <li>
          <a href="https://github.com/rishikhaneja">github</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/rishikhaneja">linkedin</a>
        </li>
      </ul>
    </footer>

  </body>

  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>

</script>

</html>